<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Taille</ion-label>
      <ion-input type="number" placeholder="En cm" min="50" max="250" required></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Poids</ion-label>
      <ion-input type="number" placeholder="En Kg" min="20" max="200" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telephone</ion-label>
      <ion-input type="tel" placeholder="0xxxxxxxxx" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Etes vous ?</ion-label>
      <ion-select required>
        <ion-select-option>Une femme</ion-select-option>
        <ion-select-option>Un homme</ion-select-option>
        <ion-select-option>Un enfant</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>